<h2>Detalhes</h2><hr/><br/>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label for="primeiroNome">Primeiro Nome</label> <input type="text"
				name="primeiroNome" value="{{usuario.primeironome}}" readonly>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="ultimoNome">Ultimo Nome</label> <input type="text"
				name="primeiroNome" value="{{usuario.ultimonome}}" readonly>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="especialidade">Especialidade</label> <input type="text"
				name="especialidade" value="{{usuario.especialidade}}" readonly>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label for="email">E-mail</label><br/> <input type="text"
				name="email" value="{{usuario.email}}" readonly>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="ativo">Ativo</label><br/> <input type="text"
				name="ativo" value="{{usuario.isAtivo}}" readonly>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="status">Status</label><br/> <input type="text"
				name="status" value="{{usuario.status}}" readonly>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label for="estado">Estado</label><br/> <input type="text"
				name="estado" value="{{usuario.estado}}" readonly>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="cidade">Cidade</label><br/> <input type="text"
				name="cidade" value="{{usuario.cidade}}" readonly>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			
		</div>
	</div>
</div>

