<h2>Medicos</h2>
  <p>Lista de medicos segundo ocupacao</p>            
  <table class="table table-striped">
    <thead>
      <tr>
      <th>#</th>
        <th>Primeiro nome</th>
        <th>Segundo nome</th>
        <th>Email</th>
        <th>Ativo</th>
        <th>Ocupado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>{{usuario.id}}</td>
        <td>{{usuario.primeironome}}</td>
        <td>{{usuario.ultimonome}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.isAtivo}}</td>
        <td>{{usuario.isOcupado}}</td>
      </tr>
    </tbody>
  </table>
  
